* {margin: 0;
    padding: 0;
    box-sizing:border-box;
    }
    
body   {
    /* background:rgb( 300, 100, 50); */
    background-image: url(PASTRIES.WEBP);
    width: 100%;
    overflow-x:auto;
    flex: content;
    padding: 10px 10px;
    margin: 5px 5px;
    background-color: #333;
}   

    nav {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        height: 50px;
        width: 100%;
        background-color: brown;
        justify-content: space-between;
        position: sticky;    
        top: 0;
        left: 0;
    }

nav div {
        justify-content: center;
        display: flex;
}

nav h3{
    color: bisque;
}

nav img {
            border-radius: 100%;
            width: 30px;
            height: 30px;
            margin: right;
    }

nav ul  {
            display: flex;
            background-color: whitesmoke;
            /* width: 50px; */
            align-items: center;
            height: 100%;
          
        }
nav li  {
            text-align: right;
            align-self: center;
            justify-content: center;
            align-items: center;
            display: flex;
            margin: 0 20px;
            height: 100%;
            /* text-align: end; */
            /* flex-direction:row; */
            /* width: 20px; */
            /* height: 20px; */
            /* justify-content: space-between; */
            /* align-content: center; */
            list-style-type: none;
    }

.big {
    display: flex;
    background: rgb(226, 179, 179);
    color: darksalmon;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    border-radius: 8px;
    border-color: blue;
    padding: 30px;
}   

.up   {
    color: rgb(23, 22, 20);
    text-align: center;
   justify-items: center;
   justify-content: center;
    width: 250px;
    margin: 10px; 
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}   
.up:hover {
    background-color: aqua;
}

.up img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.new    {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: aquamarine;
    padding: 30px;
    margin-bottom: 10px;
    border-radius: 8px;
    
}
.project {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;
    padding: 30px;
    color: rgb(255, 255, 255);
    background: aqua;
}
.B {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.a {
    width: 300px;
    height: 2px;
    border-radius: 7px;
    background: #333;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
}
.a img {
    width: 100%;
    max-height: 90%;
    object-fit: cover;
    margin-bottom: 10px;
}
.a p {
    text-align: center;
    text-transform: uppercase;
}

.e  {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* border: 5px solid grey; */
padding: 5px;
}

ul:hover    {
    background-color: yellowgreen;
    border: 5px dash whitesmoke;
} 
.div:hover    {
    background-color: coral;
}


div p:nth-child(2n-1)

.e h4 {
    border-color: rgb(9, 7, 6);
    border-radius: 30px;
    width: 20px;
}
#first  {
    border:5px solid grey;
    width: 300px;
}
#second {
    border: 5px solid whitesmoke;
    width: 200px;
}
#para   {
    /* border: 5px solid grey; */
    width: 600px;
}

@media (max-width:900px) {
    h3.hello  {
        display: none;
    }
}

@media (max-width:550px)  {
   nav li    {
        display: none;
    }
}

body    {
    background-color: aquamarine;
    width: 100%;
    margin: 15px 15px;
    padding: 10px 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
h4{
    /* margin: 15px 15px; */
}
li:hover    {
background-color: rgb(205, 50, 86);
} 
a:hover {
background-color: green;
} 

h4:hover {
/* background-color: rgb(232, 224, 9); */
/* border: 1px solid blanchedalmond; */
/* width: 100px; */
}
